<ion-view   view-title="Solicitud De Prestamo">





      <ion-tabs class=" tabs-top tabs-calm">

        <ion-tab title="Solicitar"   ui-sref="app.solicitar.solicitar">
          <ion-nav-view name="solicitar-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Cotizar" ui-sref="app.solicitar.cotizar" >
          <ion-nav-view name="cotizar-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Plan Pagos"  ui-sref="app.solicitar.planPagos">
          <ion-nav-view name="plan-pagos-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Contrato" ui-sref="app.solicitar.contrato">
          <ion-nav-view name="contrato-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>

    <ion-content>

    </ion-content>


</ion-view>
